*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.sec1{
    display: flex;
    justify-content: center;
}
.sec1 div{
border: 10px solid #035BAC;
box-shadow: 3px 3px 13px #035BAC;
width: 700px;
border-radius: 8px;
margin-top: 40px;
}
.clock{
    color: #618DAB;
    font-size: 90px;
    display: flex;
    justify-content: center;
}
.Date{
    color: #618DAB;
    font-size: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.stopWatch{
    display: flex;
    justify-content: center;
}
.stopWatch .divvv{
border: 10px solid #035BAC;
box-shadow: 3px 3px 13px #035BAC;
width: 700px;
border-radius: 8px;
margin-top: 40px;
}
.stopWatch h1{
    color: #618DAB;
    font-size: 90px;
    display: flex;
    justify-content: center;
}
.stopWatch .button{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.stopWatch button{
    background: 0;
    border: 0;
}
.stopWatch .fa-square{
    color: #ccc;
    font-size: 30px;
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 10px;
}
.stopWatch .fa-rotate-left{
    color: #ccc;
    font-size: 30px;
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 10px;
}
.stopWatch .fa-caret-right{
    color: #ccc;
    background-color: orangered;
    font-size: 50px;
    padding: 15px;
    border: 3px solid orangered;
    border-radius: 50%;
    margin: 5px;
    height: 70px;
    display: flex;
    align-items: center;
}